<!-- For a detailed explanation 
see: https://phpunit.readthedocs.io/en/8.3/organizing-tests.html
see: https://gist.github.com/GaryRogers/0fb41d649fa75d58eb8f
--> 
<phpunit bootstrap="vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="php-car Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>